# Configuration file

general {
    I:EntityAbyssalZombie=1
    I:EntityBabySpider=1
    I:EntityBat=1
    I:EntityBonestorm=1
    I:EntityBrainyZombie=1
    I:EntityCCGroundSpawner=1
    I:EntityChameleon=1
    I:EntityCow=1
    I:EntityCreeper=1
    I:EntityDepthsGhoul=1
    I:EntityDragonFly=1
    I:EntityForsaken=1
    I:EntityGecko=1
    I:EntityLeech=1
    I:EntityMotherSpider=1
    I:EntityMummy=1
    I:EntityRocketCreeper=1
    I:EntitySheepman=1
    I:EntitySkeleton=1
    I:EntitySkeletonWarrior=1
    I:EntitySmallFireball=1
    I:EntitySpiritTreeFaceSmall=1
    I:EntityTreasureSlime=1
    I:EntityVoidEye=1
    I:EntityWisp=1
    I:EntityZombie=1
    I:EntityZombieVillager=1

    # Update Interval time for all burning EntityLiving, Arrows and Fireballs in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


