# Configuration file

general {
    # Selects the files that are being loaded [default: ]
    S:LoadingFiles <
        multiblock_craft.json
        tropic_tree.json
        arcane_workbench.json
        misc.json
     >

    # Selects the files that load into the NBTStorage [default: ]
    S:NBTFiles <
        nbt.txt
     >
    B:printDocumentation=false
    B:printDocumentationInCurseFormat=false
}


plugins {
    B:BloodMagic=true
    B:Forge=true
    B:Loot=true
    B:Player=true
    B:ScavengeTiming=true
    B:Score=true
    B:Utils=true
    B:World=true
}


